* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.envelope-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.envelope {
    position: relative;
    width: 450px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.envelope .body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heart {
    width: 120px;
    height: 120px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    margin-top: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    left: 0;
    top: -60px;
}

.heart::after {
    top: 0px;
    left: 60px;
}

.envelope-container:hover .envelope {
    transform: scale(1.05);
}

.envelope-container:hover .heart {
    transform: rotate(-45deg) scale(1.2);
    background-color: #ff0000;
}

/* Estilo para el panel de la carta */
.message-panel {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px; /* Hacer la carta más grande */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombras más grandes */
    border-radius: 20px;
    text-align: center;
    width: 400px; /* Aumentar el ancho */
    height: 300px; /* Aumentar la altura */
    overflow-y: auto; /* Asegura que el contenido no se desborde */
}

.message-content p {
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
